<section id="landing-intro" class="landing-intro">
    <div class="row">
        <div class="col-sm-12 text-white">
            <div class="col-sm-6">
                <p class="p-header">
                    New Games & Accesories
                </p>
                <h1 class="pb-3">
                    Monthly packages.
                    Excitement delivered daily.
                </h1>
                <p class="pb-2">
                    What's the best way to shop for the latest video games and peripherals?
                    How about nevers shopping at all?
                    You'll get new stuff on your doorstep - every month.
                </p>
                <button type="button" class="btn btn-light">GET STARTED</button>
            </div>
        </div>
    </div>
</section>