/* Global Style Sheet */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.p-header {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

.p-uppercase {
    text-transform: uppercase;
}

.p-lighter {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/* Buttons */

button {
    font-family: 'Lato', sans-serif;
}

.btn-light {
    background-color: #47E4C1 !important;
    border-color: #47E4C1 !important;
    color: black;
    border-radius: 15px;
    padding-left: 6%;
    padding-right: 6%;
    transition: 1s;
}

.btn-light:active, .btn-light:hover, .btn-light:focus-visible {
    background-color: #278772 !important;
    border-color: #278772 !important;
    color: black;
    transition: none;
}

/* Images */
.logo {
    width: 150px;
    height: auto;
}

/* Elements */
hr.green {
    border: 3px solid #47E4C3;
    background-color: #47E4C3;
    opacity: 1.25;
    width: 20%;
    margin: auto;
}

.bg-off-white {
    background-color: #F2F1EF;
}